<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/global.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/member.css">
	<script type="text/javascript" src="../../static/plugs/jquery.1.10.2.js"></script>
	<script type="text/javascript" src="../../static/js/global.js"></script>
	<script type="text/javascript" src="../../static/js/member.js"></script>
</head>
<body>

	<!-- header start -->
	<div class="header">
		<div class="media-auto-width">
			<div class="left">
				<a href="../login/login.html" class="login">亲，请登录</a>
				<a href="../login/register.html" class="register">现在注册</a>
			</div>
			<ul class="right">
				<li>
					<div class="search-wrap">
						<form action="#">
							<input class="search-text" type="text" placeholder="请输入搜索内容。">
							<input class="search-btn iconfont" type="submit" value="&#xe613;" />
						</form>
					</div>
				</li>
				<li>
					<a href="">首页</a>
				</li>
				<li>
					<a href="">最新</a>
				</li>
				<li>
					<a href="">最热</a>
				</li>
				<li>
					<a href="">写文章</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- header end -->

	<!-- header-nav-wrap start -->
	<div class="header-nav-wrap">
		<div class="media-auto-width">
			<a class="logo" href="../index.html">
				<img src="" alt="logo">
			</a>
			<div class="nav">
				<a class="active" href="#">首页</a>
				<a href="#">个人中心</a>
				<a href="#">文章中心</a>
				<a href="#">消息中心</a>
			</div>
			<div class="right">
				<a href="#">
					<i class="iconfont">&#xe641;</i>
					<span>帮助</span>
				</a>
				<a href="#">
					<i class="iconfont">&#xe608;</i>
					<span>设置</span>
				</a>
			</div>
		</div>
	</div>
	<!-- header-nav-wrap end -->

	<!-- member-body-wrap start -->
	<div class="member-body-wrap">
		<div class="media-auto-width member-body">
			<div class="member-body-left">
				<div class="member-body-content">
					<div class="member-info">
						<div class="left">
							<a class="face-wrap">
								<span class="face-space">
									<img class="face" src="../../static/images/defaut_face_01.jpeg" alt="face">
								</span>
							</a>
							<div class="other-info">
								<span class="name">华丽逆。转”</span>
								<span class="say-hi">下午好！</span>
								<a class="amend" href="#">修改个人信息>></a>
							</div>
						</div>
						<div class="right">
							<p class="info">
								<span class="title">真实姓名：</span>
								<em class="value">华丽逆转</em>
							</p>
							<p class="info">
								<span class="title">绑定手机：</span>
								<em class="value">未绑定手机号</em>
								<a class="color" href="#">去绑定</a>
								<a class="color" href="#">解绑</a>
							</p>
							<p class="info">
								<span class="title">电子邮箱：</span>
								<em class="value"><i class="iconfont">&#xe61b;</i>查看</em>
								<a class="color" href="#">修改</a>
							</p>
							<p class="info">
								<span class="title">性　　别：</span>
								<em class="value">男</em>
								<a class="color" href="#">修改</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="member-body-right">
				<dl class="member-body-right-content">
					<dt>个人中心</dt>
					<dd>
						<i class="iconfont">&#xe647;</i>
						<a href="#">个人资料</a>
					</dd>
					<dd>
						<i class="iconfont">&#xe624;</i>
						<a href="#">第三方绑定</a>
					</dd>
					<dt>个人中心</dt>
					<dd>
						<i class="iconfont">&#xe647;</i>
						<a href="#">个人资料</a>
					</dd>
					<dd>
						<i class="iconfont">&#xe624;</i>
						<a href="#">第三方绑定</a>
					</dd>
				</dl>
			</div>
		</div>

	</div>
	<!-- member-body-wrap end -->

	<!-- footer start -->
	<div class="footer" id="footer">
		<div class="media-auto-width">
			<div class="foot-tag">
				<a href="#">联系斯特</a>
				<a href="#">用户反馈</a>
				<a href="#">关于斯特</a>
				<a href="#">新浪微博</a>
				<a href="#">帮助中心</a>
			</div>
			<div class="copyright">
				<span>© yangan 春花秋实</span>
				<a href="#">蜀ICP备12345678号</a>
				<span>Copyright  20017-2017  All  Rights  Reserver</span>
			</div>
		</div>
	</div>
	<!-- footer end -->
</body>
</html>