/**
 * time	2017-05-12
 * name	杨潘 yangpan
 * tel	13541292110
 * mail 916780135@qq.com
 */

/**字体css*/
/**
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
*/
/**{outline:1px solid blue;}*/

@font-face {
  font-family: 'iconfont';  /* project id 377215 */
  src: url('//at.alicdn.com/t/font_377215_z6wkfflq8p0vygb9.eot');
  src: url('//at.alicdn.com/t/font_377215_z6wkfflq8p0vygb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_377215_z6wkfflq8p0vygb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_377215_z6wkfflq8p0vygb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_377215_z6wkfflq8p0vygb9.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

body{width:100%;
  /*
  min-height:90%;
  min-height:calc(100% - 100px);
  min-height:-moz-calc(100% - 100px);
  min-height:-webkit-calc(100% - 100px);
  padding:0 0 100px;position:absolute;
  */
}
.media-auto-width{margin:0 auto;}
.clear-float{clear:both;overflow:hidden;height:100px;background:red;}

/**	header css go */
.header{width:100%;height:45px;line-height:45px;background:#f1f1f1;border-bottom:1px solid #ddd;overflow:hidden;}
.header .left{float:left;}
.header .left .username{color:orangered;margin:0 0 0 10px;}
.header .left .username:hover{text-decoration:underline;}
.header .right{float:right;text-align:right;}
.header .left .login{color:orangered;margin:0 15px 0 0;}
.header .left .login:hover{text-decoration:underline;}
.header a:hover{color:orangered;}
.header .right li{float:left;margin:0 0 0 15px;overflow:hidden;}
.header .right li .active{color:orangered;}
.header .right li .active:hover{text-decoration:underline;}
.header .right .search-wrap{position:relative;width:534px;height:35px;margin:5px 0;float:left;}
.header .search-wrap .search-text{position:absolute;z-index:1;left:0;width:500px;height:30px;padding:0 15px;border:2px solid orangered;}
.header .search-wrap .search-btn{position:absolute;z-index:2;top:2px;right:0;width:80px;height:30px;border:0 none;background:orangered;cursor:pointer;color:#fff;}
.header .search-wrap .search-btn:active{background:red;}
/**	header css end */

/**	footer css go */
.footer{width:100%;height:100px;text-align:center;background:#1A1A1A;color:#eee;overflow:hidden;}
.footer .media-auto-width{overflow:hidden;}
.footer a{color:#eee;}
.footer .foot-tag{height:22px;line-height:22px;margin:23px auto 10px;overflow:hidden;}
.footer .foot-tag a{padding:0 10px;position:relative;display:inline-block;}
.footer .foot-tag a:hover{color:#999;text-decoration:underline;}
.footer .foot-tag a:after{position:absolute;left:0;top:5px;disploy:block;width:1px;height:12px;background:#fff;content:"";}
.footer .foot-tag a:first-child:after{display:none;}
.footer .copyright{font-size:12px;color:#999;}
.footer .copyright a{color:#999;text-decoration:underline;}
.footer .copyright a:hover{color:#eee;}
/**	footer css end */

@media screen and (max-width:1920px){
	.media-auto-width{width:1600px;}
}
@media screen and (max-width:1600px){
	.media-auto-width{width:1200px;}
}
@media screen and (max-width:1200px){
	body{min-width:1000px;background:blue;overflow-x:auto;}
	.media-auto-width{width:1000px;}
}

/**checkbox*/
.yangpan-checkbox-off-style{width: 20px;height: 20px;float: left;cursor: pointer;text-align: center;position:relative;}
.yangpan-checkbox-off-style:after{font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;position:absolute;top:0;left:0;display:block;width:20px;height:20px;line-height:20px;color:#bbb;content:'\e61e';}
.yangpan-checkbox-on-style {position:relative;}
.yangpan-checkbox-on-style:after{font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;position:absolute;top:0;left:0;display:block;width:20px;height:20px;line-height:20px;color:#2d9b95;content:'\e60a';}
.yangpan-input-opacity {opacity: 0;cursor: pointer;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);}