/**
 * time	2017-05-12
 * name	杨潘 yangpan
 * tel	13541292110
 * mail 916780135@qq.com
 */
// *{outline:1px solid red;}
body{
	background:#eab157 !important;
	background:-moz-radial-gradient(center,ellipse cover,#eab157 0%,#0e1329 100%) !important;
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#eab157),color-stop(100%,#0e1329)) !important;
	background:-webkit-radial-gradient(center,ellipse cover,#eab157 0%,#0e1329 100%) !important;
	background:-o-radial-gradient(center,ellipse cover,#eab157 0%,#0e1329 100%) !important;
	background:-ms-radial-gradient(center,ellipse cover,#eab157 0%,#0e1329 100%) !important;
	background:radial-gradient(ellipse at center,#eab157 0%,#0e1329 100%) !important;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab157',endColorstr='#0e1329',GradientType=1 ) !important;
}
canvas{position:absolute;width:100%;height:80%;height:calc(100% - 150px);height:-moz-calc(100% - 150px);height:-webkit-calc(100% - 150px);}

.register-wrap{width:392px;position:absolute;left:50%;top:50%;margin:-390px 0 0 -196px;overflow:hidden;}
.register-header{text-align:center;}
.register-header .logo-wrap{display:block;width:80px;height:80px;line-height:50px;text-align:center;margin:0 auto;}
.register-header .logo{display:block;width:100%;height:100%;background:#eee;border-radius:50%;border:2px solid #ddd;}
.register-header .info{height:50px;line-height:50px;font-size:18px;color:#fff;margin:0 0 20px;}

.register-body .form{width:100%;padding:5px 0 0;}
.register-body{width:320px;padding:0 35px;margin:0 auto;border-radius:15px;background:#fff;overflow:hidden;}
.register-body .title{text-align:center;font-size:16px;height:55px;line-height:55px;border-bottom:1px solid #ddd;}
.register-body .input-wrap{position:relative;margin:15px 0;overflow:hidden;}
.register-body .username,.register-body .password,.register-body .email,.register-body .realname,.register-body .form .error{display:block;width:258px;height:35px;line-height:35px;padding:0 5% 0 13%;border:2px solid #ddd;border-radius:5px;background:#eee;}
.register-body .input-wrap .iconfont{position:absolute;top:11px;left:15px;}
.register-body .username:focus,.register-body .password:focus{border:2px solid orangered;}
.register-body .form .error{display:none;border:2px solid orangered;background:#ffe6e5;margin:10px 0 0;}
.register-body .form .error .iconfont{color:red;margin:0 5px 0 0;}
.register-body .forget-wrap{height:20px;line-height:20px;text-align:right;margin:0 0 15px;}
.register-body .forget-wrap .forget{color:orangered;}
.register-body .forget-wrap .forget:hover{text-decoration:underline;}
.register-body .submit-btn{width:100%;height:40px;line-height:40px;font-size:16px;text-align:center;border:0 none;border-radius:5px;background:#eee;cursor:pointer;background:orangered;color:#fff;}
.register-body .submit-btn:hover{background:rgb(238, 85, 0)}
.register-body .submit-btn:disabled{color:#bbb;background:#eee;}
.register-body .other{width:100%;height:20px;line-height:20px;font-size:14px;margin:15px 0;}
.register-body .other .left{float:left;cursor:pointer;}

.register-body .other .register{float:right;color:orangered;}
.register-body .other .register:hover{text-decoration:underline;}
.third .icon-wrap{text-align:center;padding:20px 0;overflow:hidden;}
.third .icon-wrap .icon{display:inline-block;width:45px;height:45px;line-height:45px;font-size:20px;margin:0 15px;text-align:center;border-radius:50%;background:#ddd;color:#fff;}
.third .icon-wrap .icon:hover{background:orangered;}