<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="shortcut icon" href="img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/global.css">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<script type="text/javascript" src="../static/plugs/jquery/dist/"></script>
</head>
<body>
	<!-- header start -->
	<div class="header">
		<div class="media-auto-width">
			<div class="left">
				<a href="#" class="login">亲，请登录</a>
				<a href="#" class="register">现在注册</a>
			</div>
			<ul class="right">
				<li>
					<div class="search-wrap">
						<form action="#">
							<input class="search-text" type="text" placeholder="请输入搜索内容。">
							<input class="search-btn iconfont" type="submit" value="&#xe613;" />
						</form>
					</div>
				</li>
				<li>
					<a href="#">首页</a>
				</li>
				<li>
					<a href="#">最新</a>
				</li>
				<li>
					<a href="#">最热</a>
				</li>
				<li>
					<a href="#">写文章</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- header end -->
	
	
	<!-- yangpan-layout-wrap start -->
	<div class="yangpan-layout-wrap media-auto-width">
		<div class="yangpan-layout">
		    
		    <!-- yangpan-layout-left start -->
		    <div class="yangpan-layout-left">
		        <div class="module-wrap">
					<div class="module-title">热门文章</div>
					<ul class="module-content">
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="module-wrap">
					<div class="module-title">热门文章</div>
					<ul class="module-content">
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
		    </div>
			<!-- yangpan-layout-left end -->
			
			<!-- yangpan-layout-middle start -->
		    <div class="yangpan-layout-middle">
		        <div class="yangpan-layout-content">
		        	<ul>
		        	    <li class="layout-middle-wrap">
						    <div class="layout-middle-left">
						        <a href="#" class="cover">
						        	<img src="../static/pic/article_cover.jpg" alt="">
						        </a>
						    </div>
						    <div class="layout-middle-right">
						        <div class="layout-middle-right-content">
						            <a class="title" href="#">Vans艺术家#艺术TEE图案征集活动获奖公示</a>
						            <p class="info">
						            	<span class="iconfont">&#xe652;</span> yangpan
						            	<span class="iconfont">&#xe600;</span> 2017-08-08 16:10
						            </p>
						            <p class="summary">万众期待，众所瞩目，后台私信到爆的#VANS艺术家#艺术TEE图案征集活动结果 现在来公布啦！   咚咚咚咚咚咚咚 Vans艺术家奖 人选：1名  TA的艺术创作作品将被Vans量产，成为2018年OFF THE WALL艺术TEE！同时，TA将获得价值¥5,000的V … </p>
						            <div class="bottom">
						            	<div class="left">
						            		<span class="category">分类:行业 </span>
						            	</div>
						            	<div class="right">
						            		<span class="iconfont look">&#xe61b; 102</span>
						            		<span class="iconfont vote">&#xe60c; 102</span>
						            		<span class="iconfont comment">&#xe692; 102</span>
						            	</div>
						            </div>
						        </div>
						    </div>
						</li>
						<li class="layout-middle-wrap">
						    <div class="layout-middle-left">
						        <a href="#" class="cover">
						        	<img src="../static/pic/article_cover.jpg" alt="">
						        </a>
						    </div>
						    <div class="layout-middle-right">
						        <div class="layout-middle-right-content">
						            <a class="title" href="#">Vans艺术家#艺术TEE图案征集活动获奖公示</a>
						            <p class="info">
						            	<span class="iconfont">&#xe652;</span> yangpan
						            	<span class="iconfont">&#xe600;</span> 2017-08-08 16:10
						            </p>
						            <p class="summary">万众期待，众所瞩目，后台私信到爆的#VANS艺术家#艺术TEE图案征集活动结果 现在来公布啦！   咚咚咚咚咚咚咚 Vans艺术家奖 人选：1名  TA的艺术创作作品将被Vans量产，成为2018年OFF THE WALL艺术TEE！同时，TA将获得价值¥5,000的V … </p>
						            <div class="bottom">
						            	<div class="left">
						            		<span class="category">分类:行业 </span>
						            	</div>
						            	<div class="right">
						            		<span class="iconfont look">&#xe61b; 102</span>
						            		<span class="iconfont vote">&#xe60c; 102</span>
						            		<span class="iconfont comment">&#xe692; 102</span>
						            	</div>
						            </div>
						        </div>
						    </div>
						</li>
						<li class="layout-middle-wrap">
						    <div class="layout-middle-left">
						        <a href="#" class="cover">
						        	<img src="../static/pic/article_cover.jpg" alt="">
						        </a>
						    </div>
						    <div class="layout-middle-right">
						        <div class="layout-middle-right-content">
						            <a class="title" href="#">Vans艺术家#艺术TEE图案征集活动获奖公示</a>
						            <p class="info">
						            	<span class="iconfont">&#xe652;</span> yangpan
						            	<span class="iconfont">&#xe600;</span> 2017-08-08 16:10
						            </p>
						            <p class="summary">万众期待，众所瞩目，后台私信到爆的#VANS艺术家#艺术TEE图案征集活动结果 现在来公布啦！   咚咚咚咚咚咚咚 Vans艺术家奖 人选：1名  TA的艺术创作作品将被Vans量产，成为2018年OFF THE WALL艺术TEE！同时，TA将获得价值¥5,000的V … </p>
						            <div class="bottom">
						            	<div class="left">
						            		<span class="category">分类:行业 </span>
						            	</div>
						            	<div class="right">
						            		<span class="iconfont look">&#xe61b; 102</span>
						            		<span class="iconfont vote">&#xe60c; 102</span>
						            		<span class="iconfont comment">&#xe692; 102</span>
						            	</div>
						            </div>
						        </div>
						    </div>
						</li>
						<li class="layout-middle-wrap">
						    <div class="layout-middle-left">
						        <a href="#" class="cover">
						        	<img src="../static/pic/article_cover.jpg" alt="">
						        </a>
						    </div>
						    <div class="layout-middle-right">
						        <div class="layout-middle-right-content">
						            <a class="title" href="#">Vans艺术家#艺术TEE图案征集活动获奖公示</a>
						            <p class="info">
						            	<span class="iconfont">&#xe652;</span> yangpan
						            	<span class="iconfont">&#xe600;</span> 2017-08-08 16:10
						            </p>
						            <p class="summary">万众期待，众所瞩目，后台私信到爆的#VANS艺术家#艺术TEE图案征集活动结果 现在来公布啦！   咚咚咚咚咚咚咚 Vans艺术家奖 人选：1名  TA的艺术创作作品将被Vans量产，成为2018年OFF THE WALL艺术TEE！同时，TA将获得价值¥5,000的V … </p>
						            <div class="bottom">
						            	<div class="left">
						            		<span class="category">分类:行业 </span>
						            	</div>
						            	<div class="right">
						            		<span class="iconfont look">&#xe61b; 102</span>
						            		<span class="iconfont vote">&#xe60c; 102</span>
						            		<span class="iconfont comment">&#xe692; 102</span>
						            	</div>
						            </div>
						        </div>
						    </div>
						</li>
						<li class="layout-middle-wrap">
						    <div class="layout-middle-left">
						        <a href="#" class="cover">
						        	<img src="../static/pic/article_cover.jpg" alt="">
						        </a>
						    </div>
						    <div class="layout-middle-right">
						        <div class="layout-middle-right-content">
						            <a class="title" href="#">Vans艺术家#艺术TEE图案征集活动获奖公示</a>
						            <p class="info">
						            	<span class="iconfont">&#xe652;</span> yangpan
						            	<span class="iconfont">&#xe600;</span> 2017-08-08 16:10
						            </p>
						            <p class="summary">万众期待，众所瞩目，后台私信到爆的#VANS艺术家#艺术TEE图案征集活动结果 现在来公布啦！   咚咚咚咚咚咚咚 Vans艺术家奖 人选：1名  TA的艺术创作作品将被Vans量产，成为2018年OFF THE WALL艺术TEE！同时，TA将获得价值¥5,000的V … </p>
						            <div class="bottom">
						            	<div class="left">
						            		<span class="category">分类:行业 </span>
						            	</div>
						            	<div class="right">
						            		<span class="iconfont look">&#xe61b; 102</span>
						            		<span class="iconfont vote">&#xe60c; 102</span>
						            		<span class="iconfont comment">&#xe692; 102</span>
						            	</div>
						            </div>
						        </div>
						    </div>
						</li>
		        	</ul>
		        	<div class="yangpan-pagination">
		        		<a href="#">上一页</a>
		        		<a href="#">1</a>
		        		<a href="#">2</a>
		        		<a href="#">3</a>
		        		<a href="#">4</a>
		        		<a href="#">5</a>
		        		<a href="#">...</a>
		        		<a href="#">65</a>
		        		<a href="#">下一页</a>
		        		到 <input type="text"> 页
		        		每页 <input type="text"> 条
		        		共3699条数据
		        	</div>
		        </div>
		    </div>
		    <!-- yangpan-layout-middle end -->
		    
		    <!-- yangpan-layout-right start -->
		    <div class="yangpan-layout-right">
		        <div class="module-wrap">
					<div class="module-title">热门文章</div>
					<ul class="module-content">
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="module-wrap">
					<div class="module-title">热门文章</div>
					<ul class="module-content">
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
						<li class="item">
							<div class="item-left">
						        <img class="face" src="../static/images/defaut_face.jpeg" alt="头像">
						    </div>
							<div class="item-right">
								<div class="item-content">
									<a href="#" class="item-title" title="标题">为平静而设计|专访“中国好设计”金奖设计师高凤麟</a>
									<p class="item-info">
										<a class="author" href=""  title="名称">华丽逆转</a>
										<span>, 2017-08-08 10:03</span>
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
		    </div>
			<!-- yangpan-layout-right end -->

		</div>
	</div>
	<!-- yangpan-layout-wrap end -->
		
	<!-- <div style="height:100px;background:red;">zcxzcxzczx</div> -->

	<!-- footer start -->
	<div class="footer">
		<div>
			<div class="foot-tag">
				<a href="#">联系斯特</a>
				<a href="#">用户反馈</a>
				<a href="#">关于斯特</a>
				<a href="#">新浪微博</a>
				<a href="#">帮助中心</a>
			</div>
			<div class="copyright">
				<span>© yangan 春花秋实</span>
				<a href="#">蜀ICP备12345678号</a>
				<span> Copyright  20017-2017  All  Rights  Reserver  </span>
			</div>
		</div>
	</div>
	<!-- footer end -->
</body>
</html>