<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="shortcut icon" href="img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/global.css">
	<script type="text/javascript" src="../static/plugs/jquery.1.10.2.js"></script>
	<script type="text/javascript" src="../static/js/global.js"></script>
</head>
<body>
	<div style="width:100%;height:960px;position:absolute;"></div>
</body>
</html>