<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	<link rel="stylesheet" type="text/css" href="/css/member.css">
	<script type="text/javascript" src="/plugs/jquery.1.10.2.js"></script>
	<script type="text/javascript" src="/js/global.js"></script>
	<script type="text/javascript" src="/js/member/center.js"></script>
</head>
<body>

	<!--/* header start */-->
	<div th:replace="~{fragments/header :: header}"></div>
	<!--/* header end */-->

	<!--/* userHeadMenu start */-->
	<div th:replace="~{fragments/header :: userHeadMenu}"></div>
	<!--/* userHeadMenu end */-->

	<!-- member-body-wrap start -->
	<div class="member-body-wrap">
		<div class="media-auto-width member-body">
			<div class="member-body-left">
				<div class="member-body-content">
					<div class="member-info">
						<div class="left">
							<a class="face-wrap">
								<span class="face-space">
									<img class="face" src="/images/defaut_face_01.jpeg" alt="face">
								</span>
							</a>
							<div class="other-info">
								<span class="name">[[${user.username}]]</span>
								<span id="sayHello" class="say-hi">say hello！</span>
								<a class="amend" href="#">修改个人信息>></a>
							</div>
						</div>
						<div class="right">
							<p class="info">
								<span class="title">真实姓名：</span>
								<em class="value">[[${user.realname}]]</em>
								<a class="color" href="#">修改</a>
							</p>
							<p class="info">
								<span class="title">绑定手机：</span>
								<em class="value">未绑定手机号</em>
								<a class="color" href="#">去绑定</a>
								<a class="color" href="#">解绑</a>
							</p>
							<p class="info">
								<span class="title">电子邮箱：</span>
								<em class="value"><i class="iconfont">&#xe61b;</i>查看</em>
								<a class="color" href="#">修改</a>
							</p>
							<p class="info">
								<span class="title">性　　别：</span>
								<em class="value">男</em>
								<a class="color" href="#">修改</a>
							</p>
						</div>
					</div>
					<div class="do-you-like">	
						<div class="title-wrap">
							<div class="title">猜您喜欢</div>
							<p class="sub-title">根据您的最近浏览推荐</p>
						</div>
						<div class="yangpan-layout-content">
				        	<ul>
				        	    <li class="layout-middle-wrap">
								    <div class="layout-middle-left">
								        <a href="#" class="cover">
								        	<img src="/pic/article_cover_01.jpg" alt="">
								        </a>
								    </div>
								    <div class="layout-middle-right">
								        <div class="layout-middle-right-content">
								            <a class="title" href="#">Vans艺术家#艺术TEE图案征集活动获奖公示</a>
								            <p class="info">
								            	<span class="iconfont"></span> yangpan
								            	<span class="iconfont"></span> 2017-08-08 16:10
								            </p>
								            <p class="summary">万众期待，众所瞩目，后台私信到爆的#VANS艺术家#艺术TEE图案征集活动结果 现在来公布啦！   咚咚咚咚咚咚咚 Vans艺术家奖 人选：1名  TA的艺术创作作品将被Vans量产，成为2018年OFF THE WALL艺术TEE！同时，TA将获得价值¥5,000的V … </p>
								            <div class="bottom">
								            	<div class="left">
								            		<span class="category">分类:行业 </span>
								            	</div>
								            	<div class="right">
								            		<span class="iconfont look"> 102</span>
								            		<span class="iconfont vote"> 102</span>
								            		<span class="iconfont comment"> 102</span>
								            	</div>
								            </div>
								        </div>
								    </div>
								</li>
								<li class="layout-middle-wrap">
								    <div class="layout-middle-left">
								        <a href="#" class="cover">
								        	<img src="/pic/article_cover_02.jpg" alt="">
								        </a>
								    </div>
								    <div class="layout-middle-right">
								        <div class="layout-middle-right-content">
								            <a class="title" href="#">汇聚灵感的高品质图库——花瓣美素上线了</a>
								            <p class="info">
								            	<span class="iconfont"></span> yangpan
								            	<span class="iconfont"></span> 2017-08-08 16:10
								            </p>
								            <p class="summary">关键词 高品质 低价格 微利图库 移动互联网时代的今天，利用移动媒体端作为信息高效传递的载体已经深入人们的日常生活，信息传递地同时良好的视觉体验也愈发重要。广告传媒行业对图片素材有着海量需求，但由于行业操作不尽规范，传统图片平台垄断式渠道，盗版、侵权、高价等充斥着视觉产 … </p>
								            <div class="bottom">
								            	<div class="left">
								            		<span class="category">分类:行业 </span>
								            	</div>
								            	<div class="right">
								            		<span class="iconfont look"> 102</span>
								            		<span class="iconfont vote"> 102</span>
								            		<span class="iconfont comment"> 102</span>
								            	</div>
								            </div>
								        </div>
								    </div>
								</li>
				        	</ul>
				        	<div class="yangpan-pagination">
				        		<a href="#">上一页</a>
				        		<a href="#">1</a>
				        		<a href="#">2</a>
				        		<a href="#">3</a>
				        		<a href="#">4</a>
				        		<a href="#">5</a>
				        		<a href="#">...</a>
				        		<a href="#">65</a>
				        		<a href="#">下一页</a>
				        		到 <input type="text"> 页
				        		每页 <input type="text"> 条
				        		共3699条数据
				        	</div>
				        </div>
					</div>
				</div>
			</div>
			<div class="member-body-right">
				<dl class="member-body-right-content">
					<dt>个人中心</dt>
					<dd>
						<i class="iconfont">&#xe647;</i>
						<a href="aboutMe.html">个人资料</a>
					</dd>
					<dd>
						<i class="iconfont">&#xe624;</i>
						<a href="#">第三方绑定</a>
					</dd>
					<dt>个人中心</dt>
					<dd>
						<i class="iconfont">&#xe647;</i>
						<a href="#">个人资料</a>
					</dd>
					<dd>
						<i class="iconfont">&#xe624;</i>
						<a href="#">第三方绑定</a>
					</dd>
				</dl>
			</div>
		</div>
		
	</div>
	<!-- member-body-wrap end -->

	<!--/* footer start */-->
	<div th:replace="~{fragments/footer :: footer}"></div>
	<!--/* header end */-->
</body>
</html>