<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<dl data-th-fragment="rightMenu" class="member-body-right-content">
    <dt>个人中心</dt>
    <dd th:class="${#httpServletRequest.getRequestURI()} eq '/member/'+${user.username}+'/aboutMe' ? 'second active' : 'second'">
        <i class="iconfont">&#xe647;</i>
        <a href="aboutMe.html">个人资料</a>
    </dd>
    <dd th:class="${#httpServletRequest.getRequestURI()} eq '/member/'+${user.username}+'/changFace' ? 'second active' : 'second'">
        <i class="iconfont">&#xe624;</i>
        <a href="#">修改头像</a>
    </dd>
</dl>
</body>
</html>