<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>斯特注册</title>
	<link rel="shortcut icon" href="img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/global.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/register.css">
</head>
<body>
	<!-- header start -->
	<div class="header">
		<div class="media-auto-width">
			<div class="left">
				<a href="" class="login">亲，请登录</a>
				<a href="" class="register">现在注册</a>
			</div>
			<ul class="right">
				<li>
					<div class="search-wrap">
						<form action="#">
							<input class="search-text" type="text" placeholder="请输入搜索内容。">
							<input class="search-btn iconfont" type="submit" value="&#xe613;" />
						</form>
					</div>
				</li>
				<li>
					<a href="">首页</a>
				</li>
				<li>
					<a href="">最新</a>
				</li>
				<li>
					<a href="">最热</a>
				</li>
				<li>
					<a href="">写文章</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- header end -->

	<!-- footer start -->
	<div class="footer">
		<div>
			<div class="foot-tag">
				<a href="#">联系斯特</a>
				<a href="#">用户反馈</a>
				<a href="#">关于斯特</a>
				<a href="#">新浪微博</a>
				<a href="#">帮助中心</a>
			</div>
			<div class="copyright">
				<span>© yangan 春花秋实</span>
				<a href="#">蜀ICP备12345678号</a>
				<span> Copyright  20017-2017  All  Rights  Reserver  </span>
			</div>
		</div>
	</div>
	<!-- footer end -->
</body>
</html>