<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<!-- CSRF -->
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>登录</title>
	<!--/* 公共css */-->
	<link th:replace="fragments/link"/>
	<!--/* 公共js */-->
	<script th:replace="fragments/script"/>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>

	<!--/* header start */-->
	<div th:replace="~{fragments/header :: header}"></div>
	<!--/* header end */-->


	<canvas></canvas>

	<div class="login-wrap">
		<div class="login-header">
			<a class="logo-wrap" href="../index.html">
				<img class="logo" src="../../../images/defaut_face_01.jpeg" alt="logo"></a>
			<p class="info">登录，与众多技术人员一起交流、分享快乐。</p>
		</div>
		<div class="login-body">
			<div class="title">登录</div>
				<p class="error error-wrap">
					<i class="iconfont">&#xe622;</i>
					<span id="errorInfo"></span>
				</p>
				<div class="input-wrap">
					<input id="username" class="username" type="text" placeholder="请输入用户名" />
					<i class="iconfont">&#xe652;</i>
				</div>
				<div class="input-wrap">
					<input id="password" class="password" type="password" placeholder="请输入密码" />
					<i class="iconfont">&#xe61b;</i>
				</div>
				<div class="input-wrap">
					<input id="captcha" class="captcha" type="text" placeholder="请输入验证码" />
					<img id="captchaImage" class="captcha-img" src="/imageCaptcha" alt="验证码" />
					<i class="iconfont">&#xe634;</i>
				</div>
				<div class="forget-wrap">
					<a class="forget" href="#">忘记密码</a>
				</div>
				<input id="submitBtn" class="submit-btn" type="submit" value="登录" disabled/>
				<div class="other">
					<label class="left">
						<span class="yangpan-checkbox-off-style">
					    	<input type="checkbox" class="yangpan-input-opacity" checked/>
					  	</span>
						记住密码
					</label>
					<a class="register" href="/register/page">新用户注册</a>
				</div>

			<div class="third">
				<p class="title">第三方帐号登录</p>
				<div class="icon-wrap">
					<a class="icon iconfont" href="#">&#xe673;</a>
					<a class="icon iconfont" href="#">&#xe604;</a>
					<a class="icon iconfont" href="#">&#xe63a;</a>
				</div>
			</div>
		</div>
	</div>


	<!--/* footer start */-->
	<div th:replace="~{fragments/footer :: footer}"></div>
	<!--/* header end */-->
</body>
</html>

<script type="text/javascript">

$("#xxx").click(function(){

		// 获取 CSRF Token 
		var csrfToken = $("meta[name='_csrf']").attr("content");
		var csrfHeader = $("meta[name='_csrf_header']").attr("content");

		$.ajax({
		    url: '/u/xx/blogs/edit',
		    type: 'POST',
			contentType: "application/json; charset=utf-8",
		    data:JSON.stringify({"id":$('#ArticleId').val(),
		    	"title":'czxcz', 
		    	"summary": 'czxczx' , 
		    	"content": 'cxzczx', 
		    	"catalog":{"id":1},
		    	"tags":'czxczx'
		    	}),
			beforeSend: function(request) {
			    request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token 
			},
			 success: function(data){
				 console.log(data)
				 alert(data.message)
		     },
		     error : function() {
		    	 toastr.error("error!");
		     }
		})
})
</script>