<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>文章</title>
    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--/* 公共css */-->
    <link th:replace="fragments/link"/>
    <!--/* 公共js */-->
    <script th:replace="fragments/script"/>
    <link rel="stylesheet" type="text/css" href="/css/article.css">
    <script type="text/javascript" src="/js/article/article.js"></script>
</head>
<body>

<!--/* header start */-->
<div th:replace="~{fragments/header :: header}"></div>
<!--/* header end */-->

<!-- header-nav-wrap start -->
<div class="header-nav-wrap">
    <div class="media-auto-width">
        <a class="logo" href="../index.html">
            <img src="" alt="logo">
        </a>
        <div class="nav">
            <a href="../member/member.html">个人中心</a>
            <a class="active" href="#">文章中心</a>
            <a href="#">消息中心</a>
        </div>
        <div class="right">
            <a href="#">
                <i class="iconfont">&#xe641;</i>
                <span>帮助</span>
            </a>
            <a href="#">
                <i class="iconfont">&#xe608;</i>
                <span>设置</span>
            </a>
        </div>
    </div>
</div>
<!-- header-nav-wrap end -->

<!-- article-body-wrap start -->
<div class="article-body-wrap article-page">
    <div class="media-auto-width article-body">
        <div class="article-body-left">
            <div class="article-body-content">
                <div class="article main">
                    <div class="article-plate-type">
                        <h2 class="title">[[${article.title}]]</h2>
                        <p class="sub-title">
                            <a class="category">[[${article.catalog.name}]]</a>
                            -
                            <a class="author">@[[${article.user.username}]]</a>
                            -
                            <span class="time">[[${#dates.format(article.createTime, 'yyyy-MM-dd HH:mm')}]]</span>
                        </p>
                        <p class="article-body" th:utext="${article.htmlContent}"></p>
                    </div>
                    <div class="tag-contact">
                        <div class="tag">
                            <i class="iconfont">&#xe609;</i>

                            <a th:each="tag : ${#strings.arraySplit(article.tags , ',')}"
                               th:href="'/u/' + ${article.user.username}  + '/blogs?keyword='+ ${tag}">
                                [[${tag}]]
                            </a>
                        </div>
                        <div class="contact">
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>
                    </div>
                    <div class="prev-next">
                        <a class="prev" href="#">«匆匆</a>
                        <a class="next" href="#">桨声灯影里的秦淮河»</a>
                    </div>
                    <div id="articleCommentsWrap">
                        <div class="author-describe" th:each="comment,commentStat : ${commentList}" th:object="${comment}">
                            <div class="left">
                                <img src="../../static/images/defaut_face_01.jpeg" alt="头像">
                            </div>
                            <div class="right">
                                <div class="content">
                                    <p class="author">[[${commentStat.index} + 1]]楼  [[*{user.username}]] [[${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}]] </p>
                                    <p class="describe">[[*{content}]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-wrap">
                        <div class="middle">
                            <textarea id="commentContent" placeholder="请发表你的评论或留言~"></textarea>
                        </div>
                        <div class="bottom">
                            <input id="commentBtn" type="button" value="发表评论"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-body-right">
            <div class="article-body-right-content">
                <div class="article-structure">
                    <p class="article-structure-title">文章目录</p>
                    <dl class="article-structure-list">
                        <dt>
                            <a href="#">墨经》研究的方法论批判</a>
                        </dt>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释西</a>
                        </dd>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释北</a>
                        </dd>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释禮（礼）</a>
                        </dd>
                        <dt>
                            <a href="#">墨》“故”新诂</a>
                        </dt>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释西</a>
                        </dd>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释北</a>
                        </dd>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释禮（礼）</a>
                        </dd>
                        <dt>
                            <a href="#">墨》“端”新正</a>
                        </dt>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释西</a>
                        </dd>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释北</a>
                        </dd>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释禮（礼）</a>
                        </dd>
                        <dt>
                            <a href="#">墨》“体”新察</a>
                        </dt>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释西</a>
                        </dd>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释北</a>
                        </dd>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释禮（礼）</a>
                        </dd>
                        <dt>
                            <a href="#">墨》“火”新观</a>
                        </dt>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释西</a>
                        </dd>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释北</a>
                        </dd>
                        <dd>
                            <a href="#">汉字与生殖崇拜——释禮（礼）</a>
                        </dd>
                        <dt>
                            <a href="#">墨》“鑑”新鉴</a>
                        </dt>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- article-body-wrap end -->

<!--/* footer start */-->
<div th:replace="~{fragments/footer :: footer}"></div>
<!--/* header end */-->

<script>
    var articleId = [[${article.id}]];
</script>
</body>
</html>