<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>发表文章</title>
    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--/* 公共css */-->
    <link th:replace="fragments/link"/>
    <!--/* 公共js */-->
    <script th:replace="fragments/script"/>
    <link rel="stylesheet" type="text/css" href="/css/article.css">
    <script type="text/javascript" src="/js/article/contribute.js"></script>
</head>
<body>

<!--/* header start */-->
<div th:replace="~{fragments/header :: header}"></div>
<!--/* header end */-->

<!--/* userHeadMenu start */-->
<div th:replace="~{fragments/header :: userHeadMenu}"></div>
<!--/* userHeadMenu end */-->

<!-- article-body-wrap start -->
<div class="article-body-wrap">
    <div class="media-auto-width article-body">
        <div class="article-body-left">
            <div class="article-body-content">
                <div class="contribute main" th:object="${model.article}">
                    <input type="hidden" id="articleId" th:value="*{id}"/>
                    <h3 class="page-title">发表文章</h3>
                    <div class="messages-wrap">
                        <div class="part">
                            <div class="left">
                                <span class="title-icon">标题</span>
                            </div>
                            <div class="right">
                                <div class="content">
                                    <input type="text" placeholder="请输入标题" class="write" id="title"
                                           th:value="*{title}"/>
                                    <p class="hint">*标题长度不要超过50字</p>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <div class="left">
                                <span class="keyword-icon">关键字</span>
                            </div>
                            <div class="right">
                                <div class="content">
                                    <input type="text" placeholder="请输入关键词" class="write" id="keyWorld">
                                    <p class="hint">*根据内容提取3-4个关键字，用逗号隔开</p>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <div class="left">
                                <span class="digest-icon">摘要</span>
                            </div>
                            <div class="right">
                                <div class="content">
                                    <textarea id="summary" class="digest" placeholder="请输入内容摘要">[[*{title}]]</textarea>
                                    <p class="hint">*根据内容提取3-4个关键字，用逗号隔开</p>
                                </div>
                            </div>
                        </div>
                        <div class="part pic">
                            <div class="left">
                                <span class="pic-icon">缩略图</span>
                            </div>
                            <div class="right">
                                <div class="content">
                                    <a class="file-wrap">
                                        <input type="file" class="file-btn">
                                        <span>上传缩略图</span>
                                    </a>
                                    <p class="hint">*jpg格式，像素190*190大小在20kb以内</p>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <div class="left">
                                <span class="category-icon">分类</span>
                            </div>
                            <div class="right">
                                <div class="content">
                                    <div class="select-style">
                                        <select id="category" class="select-type">
                                            <option th:value="*{id}" th:text="*{name}"
                                                    th:each="categorys : ${model.categoryList}" th:object="${categorys}"
                                                    th:selected="${categorys  eq model.article.catalog }">分类一
                                            </option>
                                        </select>
                                    </div>
                                    <p class="hint">*文章分类必选</p>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <div class="left">
                                <span class="keyword-icon">标签</span>
                            </div>
                            <div class="right">
                                <div class="content">
                                    <input type="text" placeholder="请输入标签" class="write" id="tags" th:value="*{tags}"/>
                                    <p class="hint">*根据内容提取3-4个标签，用逗号隔开</p>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <div class="left">
                                <span class="content-icon">内容</span>
                            </div>
                            <div class="right">
                                <div class="content">
                                    <div class="container">
                                        <textarea id="content" class="textarea" placeholder="请输入内容" >[[*{content}]]</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <div class="left">
                                <span></span>
                            </div>
                            <div class="right">
                                <div class="content">
                                    <a href="javascript:void(0);" class="btn" id="enterContributeBtn">确认发表</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-body-right">
            <!--/* 右侧菜单 */-->
            <div th:replace="~{article/fragments :: rightMenu}">...</div>
            <!--/* 右侧菜单 */-->
        </div>
    </div>

</div>
<!-- article-body-wrap end -->

<!--/* footer start */-->
<div th:replace="~{fragments/footer :: footer}"></div>
<!--/* header end */-->
<script th:inline="javascript">
    var username = [[${user.username}]];
</script>
</body>
</html>