<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <!-- header start -->
    <div data-th-fragment="header" class="header">
        <div class="media-auto-width">
            <div class="left">
                <a href="login/login.html" class="login">亲，请登录</a>
                <a href="login/register.html" class="register">现在注册</a>
            </div>
            <ul class="right">
                <li>
                    <div class="search-wrap">
                        <form action="#">
                            <input class="search-text" type="text" placeholder="请输入搜索内容。">
                            <input class="search-btn iconfont" type="submit" value="&#xe613;" />
                        </form>
                    </div>
                </li>
                <li>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">最新</a>
                </li>
                <li>
                    <a href="#">最热</a>
                </li>
                <li>
                    <a href="#">写文章</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- header end -->
</body>
</html>