<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>分类管理</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/global.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/article.css">
	<script type="text/javascript" src="../../static/plugs/jquery.1.10.2.js"></script>
	<script type="text/javascript" src="../../static/js/global.js"></script>
	<script type="text/javascript" src="../../static/js/category.js"></script>
</head>
<body>

	<!-- header start -->
	<div class="header">
		<div class="media-auto-width">
			<div class="left">
				<a href="../login/login.html" class="login">亲，请登录</a>
				<a href="../login/register.html" class="register">现在注册</a>
			</div>
			<ul class="right">
				<li>
					<div class="search-wrap">
						<form action="#">
							<input class="search-text" type="text" placeholder="请输入搜索内容。">
							<input class="search-btn iconfont" type="submit" value="&#xe613;" />
						</form>
					</div>
				</li>
				<li>
					<a href="">首页</a>
				</li>
				<li>
					<a href="">最新</a>
				</li>
				<li>
					<a href="">最热</a>
				</li>
				<li>
					<a href="">写文章</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- header end -->

	<!-- header-nav-wrap start -->
	<div class="header-nav-wrap">
		<div class="media-auto-width">
			<a class="logo" href="../index.html">
				<img src="" alt="logo">
			</a>
			<div class="nav">
				<a href="../member/member.html">个人中心</a>
				<a class="active" href="#">文章中心</a>
				<a href="#">消息中心</a>
			</div>
			<div class="right">
				<a href="#">
					<i class="iconfont">&#xe641;</i>
					<span>帮助</span>
				</a>
				<a href="#">
					<i class="iconfont">&#xe608;</i>
					<span>设置</span>
				</a>
			</div>
		</div>
	</div>
	<!-- header-nav-wrap end -->

	<!-- article-body-wrap start -->
	<div class="article-body-wrap">
		<div class="media-auto-width article-body">
			<div class="article-body-left">
				<div class="article-body-content">
					<div class="category main">
						<h3 class="page-title">发表文章</h3>
						<div class="messages-wrap">
							<div class="part">
								<div class="left">
									<span class="title-icon">标题</span>
								</div>
								<div class="right">
									<div class="content">
										<input type="text" placeholder="请输入标题" class="write" id="title">
										<p class="hint">*标题长度不要超过50字</p>
									</div>
								</div>
							</div>
							<div class="part">
								<div class="left">
									<span class="keyword-icon">关键字</span>
								</div>
								<div class="right">
									<div class="content">
										<input type="text" placeholder="请输入关键词" class="write" id="keyWorld">
										<p class="hint">*根据内容提取3-4个关键字，用逗号隔开</p>
									</div>
								</div>
							</div>
							<div class="part">
								<div class="left">
									<span class="digest-icon">摘要</span>
								</div>
								<div class="right">
									<div class="content">
										<textarea class="digest" placeholder="请输入内容摘要"></textarea>
										<p class="hint">*根据内容提取3-4个关键字，用逗号隔开</p>
									</div>
								</div>
							</div>
							<div class="part pic">
								<div class="left">
									<span class="pic-icon">缩略图</span>
								</div>
								<div class="right">
									<div class="content">
										<a class="file-wrap">
											<input type="file" class="file-btn">
											<span>上传缩略图</span>
										</a>
										<p class="hint">*jpg格式，像素190*190大小在20kb以内</p>
									</div>
								</div>
							</div>
							<div class="part">
								<div class="left">
									<span class="category-icon">分类</span>
								</div>
								<div class="right">
									<div class="content">
										<div class="select-style">
											<select class="select-type">
												<option value="one">分类一</option>
												<option value="two">分类二</option>
												<option value="three">分类三</option>
												<option value="four">分类四</option>
												<option value="five">分类五</option>
												<option value="six">分类六</option>
												<option value="seven">分类七</option>
												<option value="eight">分类八</option>
											</select>
										</div>
										<div class="select-style">
											<select class="select-type">
												<option value="one">分类一</option>
												<option value="two">分类二</option>
												<option value="three">分类三</option>
												<option value="four">分类四</option>
												<option value="five">分类五</option>
												<option value="six">分类六</option>
												<option value="seven">分类七</option>
												<option value="eight">分类八</option>
											</select>
										</div>
										<div class="select-style">
											<select class="select-type">
												<option value="one">分类一</option>
												<option value="two">分类二</option>
												<option value="three">分类三</option>
												<option value="four">分类四</option>
												<option value="five">分类五</option>
												<option value="six">分类六</option>
												<option value="seven">分类七</option>
												<option value="eight">分类八</option>
											</select>
										</div>
										<p class="hint">*文章分类必选</p>
									</div>
								</div>
							</div>
							<div class="part">
								<div class="left">
									<span class="content-icon">内容</span>
								</div>
								<div class="right">
									<div class="content">
										<div class="container">
											<textarea class="textarea" placeholder="请输入内容"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="part">
								<div class="left">
									<span></span>
								</div>
								<div class="right">
									<div class="content">
										<a href="javascript:void(0);" class="btn" id="sendBtn">确认发送</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="article-body-right">
				<dl class="article-body-right-content">
					<dt>文章中心</dt>
					<dd>
						<i class="iconfont">&#xe647;</i>
						<a href="article.html">文章管理</a>
					</dd>
					<dd>
						<i class="iconfont">&#xe624;</i>
						<a href="category.html">分类管理</a>
					</dd>
					<dd class="active">
						<i class="iconfont">&#xe624;</i>
						<a href="contribute.html">发表文章</a>
					</dd>
				</dl>
			</div>
		</div>
		
	</div>
	<!-- article-body-wrap end -->

	<!-- footer start -->
	<div class="footer" id="footer">
		<div class="media-auto-width">
			<div class="foot-tag">
				<a href="#">联系斯特</a>
				<a href="#">用户反馈</a>
				<a href="#">关于斯特</a>
				<a href="#">新浪微博</a>
				<a href="#">帮助中心</a>
			</div>
			<div class="copyright">
				<span>© yangan 春花秋实</span>
				<a href="#">蜀ICP备12345678号</a>
				<span>Copyright  20017-2017  All  Rights  Reserver</span>
			</div>
		</div>
	</div>
	<!-- footer end -->
</body>
</html>