<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>分类管理</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/global.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/article.css">
	<script type="text/javascript" src="../../static/plugs/jquery.1.10.2.js"></script>
	<script type="text/javascript" src="../../static/js/global.js"></script>
	<script type="text/javascript" src="../../static/js/category.js"></script>
</head>
<body>

	<!-- header start -->
	<div class="header">
		<div class="media-auto-width">
			<div class="left">
				<a href="../login/login.html" class="login">亲，请登录</a>
				<a href="../login/register.html" class="register">现在注册</a>
			</div>
			<ul class="right">
				<li>
					<div class="search-wrap">
						<form action="#">
							<input class="search-text" type="text" placeholder="请输入搜索内容。">
							<input class="search-btn iconfont" type="submit" value="&#xe613;" />
						</form>
					</div>
				</li>
				<li>
					<a href="">首页</a>
				</li>
				<li>
					<a href="">最新</a>
				</li>
				<li>
					<a href="">最热</a>
				</li>
				<li>
					<a href="">写文章</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- header end -->

	<!-- header-nav-wrap start -->
	<div class="header-nav-wrap">
		<div class="media-auto-width">
			<a class="logo" href="../index.html">
				<img src="" alt="logo">
			</a>
			<div class="nav">
				<a href="../member/member.html">个人中心</a>
				<a class="active" href="#">文章中心</a>
				<a href="#">消息中心</a>
			</div>
			<div class="right">
				<a href="#">
					<i class="iconfont">&#xe641;</i>
					<span>帮助</span>
				</a>
				<a href="#">
					<i class="iconfont">&#xe608;</i>
					<span>设置</span>
				</a>
			</div>
		</div>
	</div>
	<!-- header-nav-wrap end -->

	<!-- article-body-wrap start -->
	<div class="article-body-wrap">
		<div class="media-auto-width article-body">
			<div class="article-body-left">
				<div class="article-body-content">
					<div class="category main">
						<div class="null-nothing-wrap">
							<i class="iconfont">&#xe607;</i>
							您还没有文章分类哟，现在<a href="#">添加</a>分类吗？(>^ω^<)
						</div>
						<div class="category-tag-wrap">
						    <div class="category-tag-left">
						        <p class="title">全部分类</p>
						    </div>
						    <div class="category-tag-right">
						        <div class="category-tag-content">
						            <a class="item" href="#">摄影</a>
									<a class="item" href="#">风景</a>
									<a class="item" href="#">百度</a>
									<a class="item" href="#">bat</a>
									<a class="item" href="#">比特币</a>
									<a class="item" href="#">百度贴吧</a>
									<a class="item" href="#">百度站长平台</a>
									<a class="item" href="#">百度seo</a>
									<a class="item" href="#">百度糯米</a>
									<a class="item" href="#">暴风科技</a>
									<a class="item" href="#">b2b</a>
									<a class="item" href="#">百度竞价</a>
									<a class="item" href="#">比特币勒索病毒</a>
									<a class="item" href="#">百度外卖</a>
									<a class="item" href="#">比特币行情</a>
									<a class="item" href="#">百度地图</a>
									<a class="item" href="#">b轮融资</a>
									<a class="item" href="#">比尔盖茨</a>
									<a class="item" href="#">暴风影音</a>
						        </div>
						    </div>
						</div>
						<div class="add-category-wrap">
						    <form action="#" class="form">
						    	<div class="add-category-left">
						    	    <p class="title">分类名称</p>
						    	</div>
						    	<div class="add-category-middle">
						    	    <div class="add-category-content">
						    	        <input class="name" type="text" placeholder="请输入分类名称~">
						    	    </div>
						    	</div>
						    	<div class="add-category-right">
						    	    <input class="submit-btn" type="submit" value="添加">
						    	</div>
						    </form>
						</div>
					</div>
				</div>
			</div>
			<div class="article-body-right">
				<dl class="article-body-right-content">
					<dt class="stair">文章中心</dt>
					<dd class="second">
						<i class="iconfont">&#xe647;</i>
						<a href="article.html">文章管理</a>
					</dd>
					<dd class="second active">
						<i class="iconfont">&#xe624;</i>
						<a href="category.html">分类管理</a>
					</dd>
					<dd class="second">
						<i class="iconfont">&#xe624;</i>
						<a href="contribute.html">发表文章</a>
					</dd>
				</dl>
			</div>
		</div>
		
	</div>
	<!-- article-body-wrap end -->

	<!-- footer start -->
	<div class="footer" id="footer">
		<div class="media-auto-width">
			<div class="foot-tag">
				<a href="#">联系斯特</a>
				<a href="#">用户反馈</a>
				<a href="#">关于斯特</a>
				<a href="#">新浪微博</a>
				<a href="#">帮助中心</a>
			</div>
			<div class="copyright">
				<span>© yangan 春花秋实</span>
				<a href="#">蜀ICP备12345678号</a>
				<span>Copyright  20017-2017  All  Rights  Reserver</span>
			</div>
		</div>
	</div>
	<!-- footer end -->
</body>
</html>